<<<<<<< HEAD
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* Style the header */
header {
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* Container for flexboxes */
section {
	display: -webkit-flex;
	display: flex;
}

/* Style the navigation menu */
nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background: #ccc;
	padding: 20px;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}

/* Style the content */
article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 7;
	background-color: #f1f1f1;
	padding: 10px;
}

/* Style the footer */
footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}
table{
	font-size: 14px;
}

.btn{
	width: 150px;
	font-size: 14px;
}
.error{
	color: red;
=======
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: -65px;
}

li {
	display: inline;
	margin-left: 99px;
	font-size: 21px;

}

a{
	text-decoration: none;
	font-weight: 700;
	color: #818182;
}

body{
	font-family: 'Prompt', sans-serif;
	background-color: #fff5ed;
	color: #818182;
	margin: 0;
}

.header_home{
	font-size: 36px;
	font-weight: 800;
	color: #ba63ff;
}

.block_prod1{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 123px;
	margin-top: 47px;
}

.block_prod2{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 185px;
	margin-top: 47px;
}

.block_prod3{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 191px;
	margin-top: 47px;
}

.banner{
	height: 490px;
	margin-left: 124px;
	margin-top: 19px;

}

.prod_height{
	height: 200px;
}

.prod_position{
	margin-left: 56px;
	margin-top: 9px;
}

.seller{
	font-size: 31px;
	font-weight: 700;
	color: #a38762;
	letter-spacing: 4px;
>>>>>>> origin/master
}