ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: -65px;
}

li {
	display: inline;
	margin-left: 99px;
	font-size: 21px;

}

a{
	text-decoration: none;
	font-weight: 700;
	color: #818182;
}

body{
	font-family: 'Prompt', sans-serif;
	background-color: #fff5ed;
	color: #818182;
	margin: 0;
}

.header_home{
	font-size: 36px;
	font-weight: 800;
	color: #ba63ff;
}

.block_prod1{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 123px;
	margin-top: 47px;
}

.block_prod2{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 185px;
	margin-top: 47px;
}

.block_prod3{
	height: 320px;
	width: 300px;
	background-color: white;
	box-shadow: #c4c4c4 6px 6px 11px -3px;
	margin-left: 191px;
	margin-top: 47px;
}

.banner{
	height: 490px;
	margin-left: 124px;
	margin-top: 19px;

}

.prod_height{
	height: 200px;
}

.prod_position{
	margin-left: 56px;
	margin-top: 9px;
}

.seller{
	font-size: 31px;
	font-weight: 700;
	color: #a38762;
	letter-spacing: 4px;
}